# ignore everything
*
# even subdirectories
!*/

!.gitignore
!.zshrc
!.gitconfig

!.devcontainer/*
!.config/yadm/*

# from https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
# track somefile
# !somefile

# track somefile in some subdirectory
# !*/a/b/somefile
# !*/a/b/c/*