[Desktop Entry]
Type=Application
Terminal=false
Icon=/usr/local/share/JabRef/lib/JabRef.png
Exec=/home/syoh/.local/share/JabRef/bin/JabRef
Name=JabRef
