[Desktop Entry]
Type=Application
Terminal=false
Icon=/usr/local/share/JabRef/lib/JabRef.png
Exec=([ -d ~/.config/jabref ] || mkdir ~/.config/jabref; cd ~/.config/jabref; /usr/local/bin/JabRef)
Name=JabRef
